Internship/flows--ml.json
[{"id":"58a10d9e.8109e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dd85b8c9.1544b8","type":"ui_form","z":"58a10d9e.8109e4","name":"","label":"","group":"1d08ff36.0b49e1","order":0,"width":0,"height":0,"options":[{"label":"Avg. Area Income\t","value":"a","type":"number","required":true,"rows":null},{"label":"USAhousing.describe()","value":"b","type":"number","required":true,"rows":null},{"label":"Avg. Area Number of Rooms\t","value":"c","type":"number","required":true,"rows":null},{"label":"Avg. Area Number of Bedrooms\t","value":"d","type":"number","required":true,"rows":null},{"label":"Area Population\t","value":"e","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["a054acf0.7f44d"]]},{"id":"a054acf0.7f44d","type":"function","z":"58a10d9e.8109e4","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\n\n//following are required to receive a token\nvar apikey=\"tntWVAIhwnmG_EpCfs4BCYirieQWTsFBNmXzEk5EiZs4\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["cfe1d26b.d6abb"]]},{"id":"a4a1b951.ba1588","type":"http request","z":"58a10d9e.8109e4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/49ce4d88-e945-459f-b218-d599bbb82c1e/deployments/de326b80-8a5b-4eb6-8048-8ae1f7d7cd67/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["70b001.133f8","1716a6f0.cb5839"]]},{"id":"88e85468.5b8818","type":"debug","z":"58a10d9e.8109e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":280,"wires":[]},{"id":"1716a6f0.cb5839","type":"function","z":"58a10d9e.8109e4","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["88e85468.5b8818","c1b50752.bab8a8"]]},{"id":"70b001.133f8","type":"debug","z":"58a10d9e.8109e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"99e1dc6.7274d2","type":"function","z":"58a10d9e.8109e4","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"49ce4d88-e945-459f-b218-d599bbb82c1e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Avg. Area Income\",\"Avg. Area House Age\",\n\"Avg. Area Number of Rooms\",\n\"Avg. Area Number of Bedrooms\",\n\"Area Population\"],\n\"values\":[[a,b,c,d,e]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["a4a1b951.ba1588"]]},{"id":"cfe1d26b.d6abb","type":"http request","z":"58a10d9e.8109e4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["99e1dc6.7274d2"]]},{"id":"c1b50752.bab8a8","type":"ui_text","z":"58a10d9e.8109e4","group":"1d08ff36.0b49e1","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"1d08ff36.0b49e1","type":"ui_group","z":"","name":"Machine Learning Model","tab":"8c43dcef.8d8e5","order":1,"disp":true,"width":"6","collapse":false},{"id":"8c43dcef.8d8e5","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]